<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>many2manymapping</title>
  </head>
  <body>
    <a href="/"><button>BACK</button></a>
    <h1>Student Registration</h1>

    <style type="text/css">
 .topcorner{
   position:absolute;
   top:0;
   right:0;
  }
</style>
    <div class="topcorner"><a href="/"><button>HOME</button></a></div>
    <ul style="list-style-type:disc">
      <li><a href="/viewgamelist/">Games</a></li>
      <li><a href="/newathlete/">Add Student</a></li>
      <li><a href="/viewathlete/">View all Registration</a></li>
      <li><a href="requestNresponse/">Game through JAVASCRIPT</a></li>
      <li><a href="athletescript/">Athlete through JAVASCRPIT</a></li>
    </ul>
  </body>
</html>
