<h1>This is an example of many to many mapping</h1>
  <p><p>



<form  action="/manytomanyinsertoptions/" method="POST">
  <h3>Fill the details of game</h3>
    name of game : <input id="Name" type="text" name="name" value="cricket"/><br>
    number of players : <input id="playerNumber" type="text" name="player_number" value="13"/><br>


  <h3>Fill the details of Athlete</h3>
    athlete name : <input id="athleteName" type="text" name="athlete_name" value="ajeet yadav"/><br>
    age : <input id="age" type="text" name="age" value="19"/><br>
    <input type="submit" value="Submit" />
</form>
<!-- <h3> Select the car number and we will show you its details</h3> -->

<!-- <select name="car">
  {% for car_number in success %}
    <option value=car_number.id>{{car_number.car_number}}</option>
  {% endfor %}
</select> -->
