<h1>This is an example of one to many mapping</h1>
  <p>There are two table one of car and one of its Owner each car has particular onwer<p>



<form  action="/onetomanyinsertoptions/" method="POST">
  <h3>Fill the details of deparment</h3>
    departmanet id : <input id="departmenrID" type="text" name="department_id" value="100"/><br>
    department name : <input id="departmentName" type="text" name="department_name" value="computer science"/><br>
    budget allotted(rs): <input id="budget" type="text" name="budget" value="2000000"/><br>

  <h3>Fill the details of Student</h3>
    student name : <input id="studentName" type="text" name="student_name" value="ajeet yadav"/><br>
    age : <input id="age" type="text" name="age" value="19"/><br>
    address : <input id="address" type="text" name="address" value="jhansi"/><br>
    roll no : <input id="rollNumber" type="text" name="roll_number" value="1304310004"/><br>
    <input type="submit" value="Submit" />
</form>
<!-- <h3> Select the car number and we will show you its details</h3> -->

<!-- <select name="car">
  {% for car_number in success %}
    <option value=car_number.id>{{car_number.car_number}}</option>
  {% endfor %}
</select> -->
